/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */

		

/*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */

.span_8_of_8 {
	width: 100%; 
	margin-left: 0;
}

.span_7_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_6_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_5_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_4_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_3_of_8 {
	width: 74.2%;
	margin: 1% 0 1% 3.2%;
}

.span_2_of_8 {
	width: 48.4%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8 {
	width: 22.6%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8:nth-child(4n+1) { 
	clear: both;
	margin-left: 0;
}

#wrapper{
	header#header{
		#header-container{
			#header-row-1{
				h1{
					width: 65%;
				}
				#social-wrapper{ 
					ul{
						li{
							padding: 0;
						}
					}
				}
				#menu-trigger{
					background-color: @gold;
					padding: 0.9em;
				}
			}
		}
	}	
	#home-content{
		#our-mission{
			.title{
				.line{
					width:35%;
				}
				h2{
					width:30%;
				}
			}		
		}	
		#portraits{
			.portrait{
				.textwidget{
					padding: 1em 7em;
				}
			}
		}
	}
	.content-area{
		#content{
			article{
				padding: 0 2em;
			}
		}
	}
}