/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */

.inner {
    width: 100%;
}

#wrapper{
	header#header{
		#header-container{
			#header-row-1{
				#social-wrapper{ 
					padding: 2em 0;
					ul{
						li{
							padding: 0 1.2em;
						}
					}
				}
			}

			nav{
				ul{
					width: 90%;
				}
			}
		}
	}
	#home-content{
		#our-mission{
			margin: 0;
			.textwidget{
				padding: 0 2em;
			}				
		}
		#portraits{
			margin: 1em 0 1em 0;
			padding: 0 0.5em;
			.portrait{
				text-align: center;
				padding: 1em 0 1em 0;
				h3{
				}
				.textwidget{
					padding: 1em 0;
				}
			}
			#portrait1{
				& > div,img{
					padding-right: 0em;
				}
			}
			#portrait3{
				& > div,img{
					padding-left: 0em;
				}
			}				
		}	
	}
}