@default: arial, sans-serif;

//Colors
@white:#ffffff;
@black:#242424;
@gray:#5e5e5e;
@light-gray:#f7f7f7;
@gold:#a69257;


//mixins

.rounded(@radius: 5px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}

.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

.gradient(@color: #008b82, @start: #008b82, @end: #00a89c){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}

.shadow-bottom(@color: #ffffff){
    -webkit-box-shadow: 0 0.25em 0.1em -2px @color;
    -moz-box-shadow: 0 0.25em 0.1em -2px @color;
    box-shadow: 0 0.25em 0.1em -2px @color;    
}

.no-shadow(){
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;    
}

.arrow-left(){
    a{
        padding-left: 43px;
        background: url('images/arrow.png') no-repeat;
        line-height: 37px;
        font-weight: 600;
        margin: auto;
        width: 110px;     
        color: @black;
        letter-spacing: 0.1em;
        display: block;  
    }
}