html{
    .mp0();
}
a{
	color: @black;
    text-decoration: none;
}
a:hover{
    color: @black;
    text-decoration: none;
}

body{
	background-color: @white;
    font-family: @default;
    font-size: 14px;
    color: @black;
}
p{
	font-family:@default; 
	font-weight: normal;
	margin: 0.5em 0;
	line-height: 1.2em;
}

//Headers

h1, h2, h3, h4, h5, h6{
	font-family: @default;
	font-weight: 600;
}
h1{
	font-size: 2.5em;
}
h2{
	font-size:2em;
}

//Global styles

.inner{
	width: 960px;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}

.nocomments{
	display: none;
}

//Layout

#wrapper{
	margin: auto;
	background-color: @light-gray;

	header#header{
		background: url('images/bkgd.png');

		#header-container{
			#header-row-1{
				padding: 1em 0;
				h1{
					display: inline-block;
					width: 55%;
					a{
						float: right;
						img{
							max-width: 100%;
							vertical-align: middle;
						}
					}
				}
				#social-wrapper{ 
					float: right;
					padding: 2em 0;
					ul{
						display: inline-block;
						float: right;
						li{
							display: inline;
							padding-left: 1.2em;
							a{
								background: url("images/social-icons.png") no-repeat;
								display: inline-block;
								text-align: center;
								text-indent: -9999px;
								height: 33px;
								width: 33px;
							}
						}

						.facebook{
							a{
								background-position: 0px 0px;
							}
						}
						.twitter{
							a{
								background-position: -54px 0px;
							}
						}
					}
				}
			}
			nav{
				width: 100%;
				margin: auto;
				background-color: @white;
				padding: 1.2em 0 1em 0;
				text-align: center;
				ul{
					width: 60%;
					display: inline-block;
					li{
						display: inline;
						text-align: center;
						a{
							color: @black;
							display: inline-block;
							font-size: 1.2em;
							font-weight: 900;
							text-align: center;
							white-space: nowrap;
							padding: 0.2em 0.3em;					
						}
					}
				}
			}
			img{
				width: 100%;
			}
		}
	}

	#home-content{
		background-color: @white;
		#our-mission{
			margin: 0 3em;
			.title{
				height: 7em;
				.line{
					width:40%;
					float: left;
					div{
						border-bottom: 0.1em solid @gold;
						height: 4em;
					}
				}
				h2{
					float: left;
					width:20%;
					font-size: 1.3em;
					margin-top: 2.6em;
					text-align: center;
					letter-spacing: 0.1em;
				}
			}
			.textwidget{
				text-align: center;
				padding: 0 6em;
				line-height: 2;
			}
			.read-more{
				.arrow-left();
				margin-top: 1em;
			}
		}
		#portraits{
			margin: 4em auto 1.5em;
			padding: 0 3em;
			.portrait{
				text-align: center;
				padding: 2em 0 3em 0;
				h3{
					margin-top: 1em;
				}
				.textwidget{
					padding: 1em 2em;
				}
				.read-more{
					.arrow-left();
				}
			}
			#portrait1{
				& > div,img{
					padding-right: 2em;
				}
			}
			#portrait2{
				background-color: @light-gray;
			}
			#portrait3{
				& > div,img{
					padding-left: 2em;
				}
			}					
		}
	}
	#footer{
		margin: 2em auto;
		text-align: center;
	}

	.content-area{
		background-color: @white;
		ul{
			margin: 2em;
			li{
				line-height: 1.5em;
			}
		}
		p{
			line-height: 1.5em;
		}
		#content{
			article{
				display: inline-block;
				padding: 0 5em;
				header{
					h1{
						margin: 1em 0 0.5em 0;
					}
				}
				.entry-content{
					margin: 1em 0;
				}
				footer{
					margin-top: 3em;
					.commentlist{
						margin: 1.5em 0;
						.comment{
							margin: 1.5em 0;
						}
					}
				}
			}
			.archive-header-category{
				padding-right: 5em;
				h1{
					font-size: 2.5em;
					margin: 0.5em 0;
    				padding: 0.5em 0;
				}
			}
			#content-category{
				article{
					header{
						h1{
							font-size: 1.5em;
						}
					}
					img{
						width: 100%;
						height: 100%;
					}
					aside{
						p{
							padding-left: 0.3em;
						}
					}
					.read-more{
						display: inline-block;
						padding: 0 0 1em 0.4em;
						font-weight: 600;
					}
				}				
			}
			#searchform{
				display: inline-block;
				margin-top: 0.4em;
				#s{
					border: none;
					padding: 0.4em;
					width: 8em;
				}
				#searchsubmit{
					background: url("images/search.png") no-repeat;
					border: none;
					height: 1.7em;
					width: 2.5em;
				}
			}
			.wp-pagenavi {
			    margin: 3em 0;
			}
		}
		#secondary,#sidebar{
			margin-top: 2em;
			li{
				list-style-type: none;
				margin-bottom: 0.3em;
    			padding-bottom: 0.3em;
			}
			.widgettitle{
				font-size: 2em;
			}
			ul{
				margin-top: 1em;
				margin-bottom: 0.5em;
			}
		}
		#portraits{
			margin-top: 0 !important;
		}
	}
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; 
	    height: 0; 
	    overflow: hidden;
	    iframe, object, embed{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}
	 
}

@media only screen and (max-width: 980px) {
	.inner{
		width:92%;
	}
}