/* html5reset.css - 01/11/2011 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
p {
  margin: 0;
}
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */

}
/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 0;
}
.col:first-child {
  margin-left: 0;
}
/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWO   ============================================================================= */
.span_2_2 {
  width: 100%;
}
.span_1_2 {
  width: 49.2%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_2_2 {
    width: 100%;
  }
  .span_1_2 {
    width: 100%;
  }
}
/*  GRID OF THREE   ============================================================================= */
.span_3_3 {
  width: 100%;
}
.span_2_3 {
  width: 66.13%;
}
.span_1_3 {
  width: 33.26%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_3_3 {
    width: 100%;
  }
  .span_2_3 {
    width: 100%;
  }
  .span_1_3 {
    width: 100%;
  }
}
/*  GRID OF FOUR   ============================================================================= */
.span_4_4 {
  width: 100%;
}
.span_3_4 {
  width: 75%;
}
.span_2_4 {
  width: 50%;
}
.span_1_4 {
  width: 25%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_4_4 {
    width: 100%;
  }
  .span_3_4 {
    width: 100%;
  }
  .span_2_4 {
    width: 100%;
  }
  .span_1_4 {
    width: 100% !important;
  }
}
/*  GRID OF FIVE   ============================================================================= */
.span_5_5 {
  width: 100%;
}
.span_4_5 {
  width: 80%;
}
.span_3_5 {
  width: 60%;
}
.span_2_5 {
  width: 40%;
}
.span_1_5 {
  width: 20%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_5_5 {
    width: 100%;
  }
  .span_4_5 {
    width: 100%;
  }
  .span_3_5 {
    width: 100%;
  }
  .span_2_5 {
    width: 100%;
  }
  .span_1_5 {
    width: 100%;
  }
}
/*  GRID OF SIX   ============================================================================= */
.span_6_6 {
  width: 100%;
}
.span_5_6 {
  width: 83.06%;
}
.span_4_6 {
  width: 66.13%;
}
.span_3_6 {
  width: 49.2%;
}
.span_2_6 {
  width: 32.26%;
}
.span_1_6 {
  width: 15.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_6_6 {
    width: 100%;
  }
  .span_5_6 {
    width: 100%;
  }
  .span_4_6 {
    width: 100%;
  }
  .span_3_6 {
    width: 100%;
  }
  .span_2_6 {
    width: 100%;
  }
  .span_1_6 {
    width: 100%;
  }
}
/*  GRID OF SEVEN   ============================================================================= */
.span_7_7 {
  width: 100%;
}
.span_6_7 {
  width: 85.48%;
}
.span_5_7 {
  width: 70.97%;
}
.span_4_7 {
  width: 56.45%;
}
.span_3_7 {
  width: 41.94%;
}
.span_2_7 {
  width: 27.42%;
}
.span_1_7 {
  width: 12.91%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_7_7 {
    width: 100%;
  }
  .span_6_7 {
    width: 100%;
  }
  .span_5_7 {
    width: 100%;
  }
  .span_4_7 {
    width: 100%;
  }
  .span_3_7 {
    width: 100%;
  }
  .span_2_7 {
    width: 100%;
  }
  .span_1_7 {
    width: 100%;
  }
}
/*  GRID OF EIGHT   ============================================================================= */
.span_8_8 {
  width: 100%;
}
.span_7_8 {
  width: 87.3%;
}
.span_6_8 {
  width: 74.6%;
}
.span_5_8 {
  width: 61.9%;
}
.span_4_8 {
  width: 49.2%;
}
.span_3_8 {
  width: 36.5%;
}
.span_2_8 {
  width: 23.8%;
}
.span_1_8 {
  width: 11.1%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_8_8 {
    width: 100%;
  }
  .span_7_8 {
    width: 100%;
  }
  .span_6_8 {
    width: 100%;
  }
  .span_5_8 {
    width: 100%;
  }
  .span_4_8 {
    width: 100%;
  }
  .span_3_8 {
    width: 100%;
  }
  .span_2_8 {
    width: 100%;
  }
  .span_1_8 {
    width: 100%;
  }
}
/*  GRID OF NINE   ============================================================================= */
.span_9_9 {
  width: 100%;
}
.span_8_9 {
  width: 88.71%;
}
.span_7_9 {
  width: 77.42%;
}
.span_6_9 {
  width: 66.13%;
}
.span_5_9 {
  width: 54.84%;
}
.span_4_9 {
  width: 43.55%;
}
.span_3_9 {
  width: 32.26%;
}
.span_2_9 {
  width: 20.97%;
}
.span_1_9 {
  width: 9.68%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_9_9 {
    width: 100%;
  }
  .span_8_9 {
    width: 100%;
  }
  .span_7_9 {
    width: 100%;
  }
  .span_6_9 {
    width: 100%;
  }
  .span_5_9 {
    width: 100%;
  }
  .span_4_9 {
    width: 100%;
  }
  .span_3_9 {
    width: 100%;
  }
  .span_2_9 {
    width: 100%;
  }
  .span_1_9 {
    width: 100%;
  }
}
/*  GRID OF TEN   ============================================================================= */
.span_10_10 {
  width: 100%;
}
.span_9_10 {
  width: 89.84%;
}
.span_8_10 {
  width: 79.68%;
}
.span_7_10 {
  width: 69.52%;
}
.span_6_10 {
  width: 59.36%;
}
.span_5_10 {
  width: 49.2%;
}
.span_4_10 {
  width: 39.04%;
}
.span_3_10 {
  width: 28.88%;
}
.span_2_10 {
  width: 18.72%;
}
.span_1_10 {
  width: 8.56%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_10_10 {
    width: 100%;
  }
  .span_9_10 {
    width: 100%;
  }
  .span_8_10 {
    width: 100%;
  }
  .span_7_10 {
    width: 100%;
  }
  .span_6_10 {
    width: 100%;
  }
  .span_5_10 {
    width: 100%;
  }
  .span_4_10 {
    width: 100%;
  }
  .span_3_10 {
    width: 100%;
  }
  .span_2_10 {
    width: 100%;
  }
  .span_1_10 {
    width: 100%;
  }
}
/*  GRID OF ELEVEN   ============================================================================= */
.span_11_11 {
  width: 100%;
}
.span_10_11 {
  width: 90.76%;
}
.span_9_11 {
  width: 81.52%;
}
.span_8_11 {
  width: 72.29%;
}
.span_7_11 {
  width: 63.05%;
}
.span_6_11 {
  width: 53.81%;
}
.span_5_11 {
  width: 44.58%;
}
.span_4_11 {
  width: 35.34%;
}
.span_3_11 {
  width: 26.1%;
}
.span_2_11 {
  width: 16.87%;
}
.span_1_11 {
  width: 7.63%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_11_11 {
    width: 100%;
  }
  .span_10_11 {
    width: 100%;
  }
  .span_9_11 {
    width: 100%;
  }
  .span_8_11 {
    width: 100%;
  }
  .span_7_11 {
    width: 100%;
  }
  .span_6_11 {
    width: 100%;
  }
  .span_5_11 {
    width: 100%;
  }
  .span_4_11 {
    width: 100%;
  }
  .span_3_11 {
    width: 100%;
  }
  .span_2_11 {
    width: 100%;
  }
  .span_1_11 {
    width: 100%;
  }
}
/*  GRID OF TWELVE   ============================================================================= */
.span_12_12 {
  width: 100%;
}
.span_11_12 {
  width: 91.53%;
}
.span_10_12 {
  width: 83.06%;
}
.span_9_12 {
  width: 74.6%;
}
.span_8_12 {
  width: 66.13%;
}
.span_7_12 {
  width: 57.66%;
}
.span_6_12 {
  width: 49.2%;
}
.span_5_12 {
  width: 40.73%;
}
.span_4_12 {
  width: 32.26%;
}
.span_3_12 {
  width: 23.8%;
}
.span_2_12 {
  width: 15.33%;
}
.span_1_12 {
  width: 6.86%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_12 {
    width: 100%;
  }
  .span_11_12 {
    width: 100%;
  }
  .span_10_12 {
    width: 100%;
  }
  .span_9_12 {
    width: 100%;
  }
  .span_8_12 {
    width: 100%;
  }
  .span_7_12 {
    width: 100%;
  }
  .span_6_12 {
    width: 100%;
  }
  .span_5_12 {
    width: 100%;
  }
  .span_4_12 {
    width: 100%;
  }
  .span_3_12 {
    width: 100%;
  }
  .span_2_12 {
    width: 100%;
  }
  .span_1_12 {
    width: 100%;
  }
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  color: #242424;
  text-decoration: none;
}
a:hover {
  color: #242424;
  text-decoration: none;
}
body {
  background-color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #242424;
}
p {
  font-family: arial, sans-serif;
  font-weight: normal;
  margin: 0.5em 0;
  line-height: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: arial, sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
.inner {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}
.nocomments {
  display: none;
}
#wrapper {
  margin: auto;
  background-color: #f7f7f7;
}
#wrapper header#header {
  background: url('images/bkgd.png');
}
#wrapper header#header #header-container #header-row-1 {
  padding: 1em 0;
}
#wrapper header#header #header-container #header-row-1 h1 {
  display: inline-block;
  width: 55%;
}
#wrapper header#header #header-container #header-row-1 h1 a {
  float: right;
}
#wrapper header#header #header-container #header-row-1 h1 a img {
  max-width: 100%;
  vertical-align: middle;
}
#wrapper header#header #header-container #header-row-1 #social-wrapper {
  float: right;
  padding: 2em 0;
}
#wrapper header#header #header-container #header-row-1 #social-wrapper ul {
  display: inline-block;
  float: right;
}
#wrapper header#header #header-container #header-row-1 #social-wrapper ul li {
  display: inline;
  padding-left: 1.2em;
}
#wrapper header#header #header-container #header-row-1 #social-wrapper ul li a {
  background: url("images/social-icons.png") no-repeat;
  display: inline-block;
  text-align: center;
  text-indent: -9999px;
  height: 33px;
  width: 33px;
}
#wrapper header#header #header-container #header-row-1 #social-wrapper ul .facebook a {
  background-position: 0px 0px;
}
#wrapper header#header #header-container #header-row-1 #social-wrapper ul .twitter a {
  background-position: -54px 0px;
}
#wrapper header#header #header-container nav {
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 1.2em 0 1em 0;
  text-align: center;
}
#wrapper header#header #header-container nav ul {
  width: 60%;
  display: inline-block;
}
#wrapper header#header #header-container nav ul li {
  display: inline;
  text-align: center;
}
#wrapper header#header #header-container nav ul li a {
  color: #242424;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  padding: 0.2em 0.3em;
}
#wrapper header#header #header-container img {
  width: 100%;
}
#wrapper #home-content {
  background-color: #ffffff;
}
#wrapper #home-content #our-mission {
  margin: 0 3em;
}
#wrapper #home-content #our-mission .title {
  height: 7em;
}
#wrapper #home-content #our-mission .title .line {
  width: 40%;
  float: left;
}
#wrapper #home-content #our-mission .title .line div {
  border-bottom: 0.1em solid #a69257;
  height: 4em;
}
#wrapper #home-content #our-mission .title h2 {
  float: left;
  width: 20%;
  font-size: 1.3em;
  margin-top: 2.6em;
  text-align: center;
  letter-spacing: 0.1em;
}
#wrapper #home-content #our-mission .textwidget {
  text-align: center;
  padding: 0 6em;
  line-height: 2;
}
#wrapper #home-content #our-mission .read-more {
  margin-top: 1em;
}
#wrapper #home-content #our-mission .read-more a {
  padding-left: 43px;
  background: url('images/arrow.png') no-repeat;
  line-height: 37px;
  font-weight: 600;
  margin: auto;
  width: 110px;
  color: #242424;
  letter-spacing: 0.1em;
  display: block;
}
#wrapper #home-content #portraits {
  margin: 4em auto 1.5em;
  padding: 0 3em;
}
#wrapper #home-content #portraits .portrait {
  text-align: center;
  padding: 2em 0 3em 0;
}
#wrapper #home-content #portraits .portrait h3 {
  margin-top: 1em;
}
#wrapper #home-content #portraits .portrait .textwidget {
  padding: 1em 2em;
}
#wrapper #home-content #portraits .portrait .read-more a {
  padding-left: 43px;
  background: url('images/arrow.png') no-repeat;
  line-height: 37px;
  font-weight: 600;
  margin: auto;
  width: 110px;
  color: #242424;
  letter-spacing: 0.1em;
  display: block;
}
#wrapper #home-content #portraits #portrait1 > div,
#wrapper #home-content #portraits #portrait1 img {
  padding-right: 2em;
}
#wrapper #home-content #portraits #portrait2 {
  background-color: #f7f7f7;
}
#wrapper #home-content #portraits #portrait3 > div,
#wrapper #home-content #portraits #portrait3 img {
  padding-left: 2em;
}
#wrapper #footer {
  margin: 2em auto;
  text-align: center;
}
#wrapper .content-area {
  background-color: #ffffff;
}
#wrapper .content-area ul {
  margin: 2em;
}
#wrapper .content-area ul li {
  line-height: 1.5em;
}
#wrapper .content-area p {
  line-height: 1.5em;
}
#wrapper .content-area #content article {
  display: inline-block;
  padding: 0 5em;
}
#wrapper .content-area #content article header h1 {
  margin: 1em 0 0.5em 0;
}
#wrapper .content-area #content article .entry-content {
  margin: 1em 0;
}
#wrapper .content-area #content article footer {
  margin-top: 3em;
}
#wrapper .content-area #content article footer .commentlist {
  margin: 1.5em 0;
}
#wrapper .content-area #content article footer .commentlist .comment {
  margin: 1.5em 0;
}
#wrapper .content-area #content .archive-header-category {
  padding-right: 5em;
}
#wrapper .content-area #content .archive-header-category h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
#wrapper .content-area #content #content-category article header h1 {
  font-size: 1.5em;
}
#wrapper .content-area #content #content-category article img {
  width: 100%;
  height: 100%;
}
#wrapper .content-area #content #content-category article aside p {
  padding-left: 0.3em;
}
#wrapper .content-area #content #content-category article .read-more {
  display: inline-block;
  padding: 0 0 1em 0.4em;
  font-weight: 600;
}
#wrapper .content-area #content #searchform {
  display: inline-block;
  margin-top: 0.4em;
}
#wrapper .content-area #content #searchform #s {
  border: none;
  padding: 0.4em;
  width: 8em;
}
#wrapper .content-area #content #searchform #searchsubmit {
  background: url("images/search.png") no-repeat;
  border: none;
  height: 1.7em;
  width: 2.5em;
}
#wrapper .content-area #content .wp-pagenavi {
  margin: 3em 0;
}
#wrapper .content-area #secondary,
#wrapper .content-area #sidebar {
  margin-top: 2em;
}
#wrapper .content-area #secondary li,
#wrapper .content-area #sidebar li {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}
#wrapper .content-area #secondary .widgettitle,
#wrapper .content-area #sidebar .widgettitle {
  font-size: 2em;
}
#wrapper .content-area #secondary ul,
#wrapper .content-area #sidebar ul {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#wrapper .content-area #portraits {
  margin-top: 0 !important;
}
#wrapper .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#wrapper .video-container iframe,
#wrapper .video-container object,
#wrapper .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 980px) {
  .inner {
    width: 92%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  /*  MAKE LAYOUT RESPONSIVE at 1024px FOR SMALLER SCREENS ================================================================ */
}
@media only screen and (max-width: 768px) {
  /*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */
  .inner {
    width: 100%;
  }
  #wrapper header#header #header-container #header-row-1 #social-wrapper {
    padding: 2em 0;
  }
  #wrapper header#header #header-container #header-row-1 #social-wrapper ul li {
    padding: 0 1.2em;
  }
  #wrapper header#header #header-container nav ul {
    width: 90%;
  }
  #wrapper #home-content #our-mission {
    margin: 0;
  }
  #wrapper #home-content #our-mission .textwidget {
    padding: 0 2em;
  }
  #wrapper #home-content #portraits {
    margin: 1em 0 1em 0;
    padding: 0 0.5em;
  }
  #wrapper #home-content #portraits .portrait {
    text-align: center;
    padding: 1em 0 1em 0;
  }
  #wrapper #home-content #portraits .portrait .textwidget {
    padding: 1em 0;
  }
  #wrapper #home-content #portraits #portrait1 > div,
  #wrapper #home-content #portraits #portrait1 img {
    padding-right: 0em;
  }
  #wrapper #home-content #portraits #portrait3 > div,
  #wrapper #home-content #portraits #portrait3 img {
    padding-left: 0em;
  }
}
@media only screen and (max-width: 480px) {
  /*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */
  /*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */
  .span_8_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_7_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_6_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_5_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_4_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_3_of_8 {
    width: 74.2%;
    margin: 1% 0 1% 3.2%;
  }
  .span_2_of_8 {
    width: 48.4%;
    margin: 1% 0 1% 3.2%;
  }
  .span_1_of_8 {
    width: 22.6%;
    margin: 1% 0 1% 3.2%;
  }
  .span_1_of_8:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
  }
  #wrapper header#header #header-container #header-row-1 h1 {
    width: 65%;
  }
  #wrapper header#header #header-container #header-row-1 #social-wrapper ul li {
    padding: 0;
  }
  #wrapper header#header #header-container #header-row-1 #menu-trigger {
    background-color: #a69257;
    padding: 0.9em;
  }
  #wrapper #home-content #our-mission .title .line {
    width: 35%;
  }
  #wrapper #home-content #our-mission .title h2 {
    width: 30%;
  }
  #wrapper #home-content #portraits .portrait .textwidget {
    padding: 1em 7em;
  }
  #wrapper .content-area #content article {
    padding: 0 2em;
  }
}
